<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <%- include('partials/nav.ejs') %>


  <% if(locals.beers){ %>
    <% beers.forEach(beer=>{ %>
      <h1><%= beer.name %></h1>
      <p><%= beer.type %></p>
      <p><%= beer.color %></p>
   <% }) %>
 <% } %>



  <form method="post">
    Navn <input name="beerName" type="text" value="<%= locals.beer ? beer.beerName : '' %>">
    <br>
    Type <input name="beerType" type="text" value="<%= locals.beer ? beer.beerType : '' %>">
    <br>
    Farve <input name="color" type="text" value="<%= locals.beer ? beer.color : '' %>">
    <br>
    <button>Gem</button>
  </form><%- locals.message ? message : '' %>





</body>

</html>